[submodule "apache2"]
	path = apache2
	url = https://github.com/opscode-cookbooks/apache2.git
[submodule "php"]
	path = php
	url = https://github.com/opscode-cookbooks/php.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "application_zf"]
	path = application_zf
	url = https://github.com/PUGTorino/application_zf.git
[submodule "rsyslog"]
	path = rsyslog
	url = https://github.com/opscode-cookbooks/rsyslog.git
[submodule "cron"]
	path = cron
	url = https://github.com/opscode-cookbooks/cron.git
[submodule "logrotate"]
	path = logrotate
	url = https://github.com/opscode-cookbooks/logrotate.git
[submodule "s3cmd"]
	path = s3cmd
	url = https://github.com/freerobby/s3cmd.git
[submodule "yum"]
	path = yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "mysql"]
	path = mysql
	url = https://github.com/opscode-cookbooks/mysql.git
[submodule "xml"]
	path = xml
	url = https://github.com/opscode-cookbooks/xml.git
